    body{
        background: rgb(24, 23, 23);
    }
    .main {
        width: 880px;
        height: 550px;
        background: url("img/bg.jpg");
        margin: 100px auto;
    }
    .content {
        width: 323px;
        height: 300px;
        margin: 110px auto;
        position: relative;
    }
    h1 {
        font-size: 32px;
        color: #ffffff;
        font-family: Times;
        margin-top: 110px;
        text-align: center;
        margin-bottom: 14px;
    }
    input {
        width: 302px;
        height: 43px;
        border: 1px #6a6f73 solid;
        background: rgb(24, 23, 23, 0);
        margin-left: 10px;
    }
    input:nth-of-type(1) {
        margin: 10px 0 10px 10px;
        background: url("img/lock.png");
    }
    button {
        width: 82px;
        height: 39px;
        background: #fff;
        border: none;
        margin: 15px 0 40px 10px;
        font-size: 20px;
        color: #242222;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        cursor: pointer;
    }
    button:hover {
        font-size: 24px;
    }
    a {
        position: absolute;
        top: 260px;
        right: 10px;
        font-size:20px;
        color: #8b8c8b;
        text-decoration: none;
    }
    a:hover {
        color: white;
    }
    hr:nth-of-type(2n+1) {
        border: 1px #fff solid;
        margin-bottom: 4px;
    }
    hr:nth-of-type(2n) {
        border: 3px #fff solid;
    }